# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log
*.jhm
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Gradle
.gradle
build/

# Intellij
.idea/
*.iml
*.ipr
*.iws

# Kotlin
*.kotlin_module
